.main_wrapper {
  width: 100%;
  height: auto;
}

.category_wrapper h2 {
  text-align: center;

}

.category_wrapper a {
  text-decoration-line: none;
  color: #151515;
}

.category_wrapper {
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
}

.category_wrapper div img {
  width: 300px;
}

.category_wrapper div:hover {
  opacity: 0.6;
}

.category_wrapper a:hover {
  color: red;
}